* {
  margin: 0;
  padding: 0;
}
body {
  font: 14px/1.5 Georgia, Helvetica, Arial, Tahoma, "微软雅黑";
  color: #222;
}
.mod-head {
  padding: 10px 0;
  min-width: 1000px;
  background-color: whitesmoke;
  border-bottom: 1px solid #e5e5e5;
}
.mod-head__main {
  width: 800px;
  margin: 0 auto;
}
.mod-foot {
  width: 800px;
  margin: 0 auto;
  border-top: 1px solid #e5e5e5;
}
.mod-foot__content {
  padding-top: 10px;
}
.mod-icon {
  display: inline-block;
  height: 120px;
  width: 120px;
}
.mod-icon_gmail {
  background-image: url(../slice/gmail.png);
}
.mod-icon_pocket {
  background-image: url(../slice/pocket.png);
}
